/*
Custom Css
*/
.tris_welcome {
    width: 70%;
    height: 250px;
    display: inline-block;
    margin-left: 12%;
}

.shop_card_img {
    height: 300px;
}

.card {
    height: 100%;
}

.brand_btn {
    background-color: #fff;
    border: none;
    outline: none;
}

.brand_form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: nowrap;
}

.ftr_btn {
    background-color: #212934;
    color: #cfd6e1;
    transition: .2s;
}

.ftr_btn:hover {
    color: #c9ac69;
}

.target_product_brand {
    text-transform: uppercase;
}

.slider__costom {
    width: 100%;
    height: 100%;
}
.slider__costom img {
    width: 100%;
    height: 100%;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
}

.contacts p {
    display: inline-block;
    vertical-align: 12px;
}

.contact_icon {
    font-size: 40px;
    color: #172547;
    cursor: pointer;
    transition: .5s;
    margin-right: 4%;
}

.contact_icon:hover {
    color: #0a53be;
}

.icons_bigger {
    font-size: 15px!important;
}

.footer_margins {
    margin-top: 60px;
}

.card_bg {
    background-image: url("../img/card_bg.jpg")!important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.card_target {
    position: relative;
}

.card_img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image:  url("../img/targetBorder.png")!important;
    background-size: 750px;
    background-repeat: no-repeat;
    background-position: bottom left;
    opacity: .2;
}

.ys {
    animation-name: YS;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.ys_2 {
    animation-name: YS_2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.pagination_links nav .flex.justify-between.flex-1 {
    display: none!important;
}

.text-sm.text-gray-700.leading-5:first-child {
    display: none;
}

.pagination_links .relative svg {
    width: 25px!important;
}

.pagination_links {
    line-height: 50px;
}

.welc_trs {
    width: 100%;
    height: 70%;
}

.welc_trs img {
    width: 100%;
}

.main_logo {
    width: 120px;
}

.logo {
    box-sizing: border-box;
    padding: 5px 130px;
    display: inline-block;
    padding-left: 0px!important;
    /*border-top: 10px solid black;*/
    /*border-bottom: 10px solid #163264;*/
    position: relative;
    /*z-index: -55;*/
    /*overflow: hidden;*/
}

.ys, ys_2 {
    z-index: 5000005;
}

.rect {
    width: 103px;
    height: 114px;
    position: absolute;
    top: 39px;
    right: 4px;
    transform: rotate(-53deg);
    background-color: #fff;
    z-index: -10;
}

.target_img {
    transition: .5s;
}

.target_img:hover {
    transform: scale(1.5);
    z-index: 99999999;
    cursor: pointer;
}

@keyframes YS {
    0%   {
        color: #172547;
    }
    10%  {
        color: #c9ac69;
    }
    20%  {
        color: #172547;
    }
    30% {
        color: #c9ac69;
    }
    40%   {
        color: #172547;
    }
    50%  {
        color: #c9ac69;
    }
    60%  {
        color: #172547;
    }
    70% {
        color: #c9ac69;
    }
    80%  {
        color: #172547;
    }
    90% {
        color: #c9ac69;
    }
    100%  {
        color: #172547;
    }
}

@keyframes YS_2 {
    0%   {
        color: #c9ac69;
    }
    10%  {
        color: #172547;
    }
    20%  {
        color: #c9ac69;
    }
    30% {
        color: #172547;
    }
    40%   {
        color: #c9ac69;
    }
    50%  {
        color: #172547;
    }
    60%  {
        color: #c9ac69;
    }
    70% {
        color: #172547;
    }
    80%  {
        color: #c9ac69;
    }
    90% {
        color: #172547;
    }
    100%  {
        color: #c9ac69;
    }
}

@media screen and (max-width: 1200px) {
    .tris_welcome {
        height: 184px;
    }
}

@media screen and (max-width: 999px) {
    .tris_welcome {
        height: 122px;
    }
}

@media screen and (max-width: 767px) {
    .logo {
        padding: 5px 15px;
    }
    .target_img:hover {
        transform: scale(1);
    }
}

@media screen and (max-width: 760px) {
    .tris_welcome {
        height: 290px;
    }

    .brand_form {
        gap: 0px;
    }
}

@media screen and (max-width: 472px) {
    .rect {
        top: 26px;
    }
    .main_logo {
        width: 60px;
    }

    .logo {
        font-size: 28px!important;
    }
    .icons_bigger {
        display: none!important;
    }

    .adapt_langs {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .arm_lang {
        margin-left: 30px;
        margin-right: 230px;
    }

    .tris_welcome {
        height: 225px;
    }
}

@media screen and (max-width: 400px) {
    .arm_lang {
        margin-left: 20px;
        margin-right: 170px;
    }
}

